*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}
body{
    font-family: 'Poppins', sans-serif;
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex:1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:#555;
}
p{
    color:#555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.header{
    height: 80px;
    width:70%;
    background-color:  #ff523b;
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
 .header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
 }
 .cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
 }
 .fa-solid{
 color:  #ff523b;  
   }
   .cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    border-radius: 22px;
    background-color: #ff523b;
    color:white
}
.contain{
    display: flex;
    width:70%;
    margin-bottom: 30px;
}
#root{
    width:60%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sidebar{
    width:40%;
    box-sizing: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color:  #ff523b;
    border-radius: 3px;
    height: 40px;
    padding:10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-box{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transform: 0.5s; 
        transition: 0.5s;
}
.images{
    width: 100%;
}
.bottom{
    margin-top: 20px;
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: red;

}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #ff523b;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #333;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
    }
    .row-img{
        width:50px;
        height:50px;
        border-radius: 50px;
        border: 1px solid #ff523b;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rowimg{
        max-width: 43px;
        max-height: 43px;
        border-radius: 50%;
    }
    .fa-trash:hover{
        cursor: pointer;
        color: #333;
    }